
.container{
    text-align: center;
    margin-top: 23px;
}
table
{
    margin: auto ;
}
input{
    border-radius: px;
    border: 5px solid black;
    font-size: 34px;
	margin-bottom:1%;
}
button{
    border-radius:px;
    font-size: 40px;
    background: cornsilk;
    width: 102px;
    height: 58px;
}
.calculator{
	border: 8px;
	border-style:solid ;

	border-left-color:#fcb045;
	border-right-color:#fcb045;
	border-bottom-color:#fcb045;
	border-top-color:#fcb045;
	
   /* background-color:;*/
    padding: 23px;
    border-radius: 1px;
        display:inline-block;

}
h3{
	text-align:center;
font-size:25px;
color:green; }
	
